name: GitHub Actions - Workflow Dispatch Template
run-name: Running - ${{ github.event_name }}

on:
  workflow_dispatch:
    inputs:
      musica:
        description: Digite sua musica favorita
        type: string
        required: true

jobs:
  workflow_dispatch:
    runs-on: ubuntu-latest
    steps:
      - name: Comentário
        run: |
          echo "Comentário WORKFLOW DISPATCH"
          echo "Minha Musica Favorita: ${{ inputs.musica }}!"
